*{
	padding: 0;
	margin: 0;
}

/*------ENCABEZADO------*/
.cabecera {
	background: #2E2E2E;
	padding: 0.5% 0.5% 1% 0.5%;
}

/*------LOGOTIPO------*/
.logo {
	width: 250px;
	height: 70px;
	margin: 0.6% 0% 0% 2%;
	float: left;
}

/*------CUADRO DE BUSQUEDA------*/
.busqueda input{
	margin-top: 2%;
	margin-left: 8%;
	padding: 5px 200px 5px 5px;
	font-size: 15px;
}

/*------MENU DE OPCIONES------*/
.menu ul{
	overflow: hidden;
}

.menu li{
	list-style: none;
	float: right;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Arial';
	padding: 0px 25px 0px 25px;
}

.menu a{
	color: white;
	text-decoration: none;
}

.menu a:hover{
	text-decoration: underline;
	color: #e6e6e6;
}

/*------ICONOS DEL MENU DE OPCIONES------*/
.inicio {
	width: 45px;
	height: 50px;
	position: absolute;
	margin-left: 61.2%;
	margin-top: 0.9%;
}
.productos {
	width: 35px;
	height: 40px;
	position: absolute;
	margin-left: 70.1%;
	margin-top: 0.7%;
}
.nosotros {
	width: 60px;
	height: 35px;
	position: absolute;
	margin-left: 79.8%;
	margin-top: 0.9%;
}
.contactenos {
	width: 50px;
	height: 32px;
	position: absolute;
	margin-left: 91.2%;
	margin-top: 1%;
}
/*------CONTENIDO------*/
.cuerpo {
	background: #e6e6e6;
	padding: 3.5% 5% 3.5% 5%;
	padding-bottom: 39%;
}

/*------BLOQUES------*/
.bloqueizquierdo {
	float: left;
	width: 25%;
	margin-right: 5%;
}
.bloque1 {
	float: unset;
	background: white;
	padding-bottom: 71.5%;
	width: 100%;
}
.bloque2 {
	float: none;
	background: white;
	margin-top: 15%;
	padding-bottom: 71.5%;
	width: 100%;
}
.bloquederecho {
	float: right;
	background: white;
	padding-bottom: 39.5%;
	width: 70%;
}